<div class="view-add-edit">
  <router-outlet></router-outlet>
</div>
<div class="sub-header">
    <h4 class="page-title">Список Оптовых Партнеров</h4>
</div>
<div class="row no-gutters">
  <div class="col-md-3">
      <div class="aside-wrapper">
          <app-data-search></app-data-search>
          <div class="categories-wrapper">
              <div class="categories-header">
                  <span>Выбрать категорию</span>
              </div>
              <ul class="categories-menu">
              </ul>              
          </div>            
      </div>       
  </div>
  <div class="col-md-9">
      <div class="table-wrapper">
          <a class="add-button">Новый Оптовый Партнер</a>      
          <app-data-table></app-data-table>
      </div>
  </div>
  
</div>