<div class="sidebar">
  <ul class="sidebar-menu">
    <li class="s-menu_item">
      <a routerLink="admin/users">Пользователи</a>
    </li>
    <li class="s-menu_item">
      <a routerLink="admin/retails">Магазины</a>
    </li>
    <li class="s-menu_item">
      <a routerLink="admin/products">Товары</a>
    </li>
    <li class="s-menu_item">
      <a routerLink="admin/providers">Поставщики</a>
    </li>
    <li class="s-menu_item">
      <a routerLink="admin/partners">Оп. Партнеры</a>
    </li>
  </ul>
</div>
